<html>
<head>
    <title>Авторизация</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='style.css')}}">
</head>
<body bgcolor="silver" text="black">
    <h2 align="center">Авторизация</h2>
    <form method="POST" action="">
        <div class="inquiries">
            <label for="username">логин: </label>
            <input type="text" id="username" name="username">
            <label for="password">пароль: </label>
            <input type="password" id="password" name="password">
            <p><input value="Войти" name="sign_in" type="submit"></p>
        </div>
    </form>
</body>
</html>
