<html>
<head>
    <title>Warehouse</title>
</head>
<body bgcolor="silver" text="black">
    <h2 align="center">Invoice Search</h2>
    <form method="POST" action="">
        <p>Please, enter the invoice number.</p>
        <label for="number">invoice number: </label>
        <input type="text" id="number" name="number">
        <p>
            <input value="search" name="search" type="submit">
            <label for="search">ERROR. Invoice not found.</label>
        </p>
    </form>
</body>
</html>